#!/bin/sh

[ $# != 1 ] && exit 1
ID=$1
egrep -x -q '^[-0-9A-Za-z]{36}$'<<<"$ID" || exit 2

systemd-nspawn \
    -D {{pogojig_root}} \
    -x --bind={{pogojig_cache}}/upload/$ID:/mnt \
    /bin/sh -c "set -euo pipefail
cd /mnt

date; echo 'Cleaning up previous output'
rm -rf pcb_shape.dxf jig.stl kicad kicad.zip sources.zip

date; echo 'Rendering'
cp -r /var/lib/pogojig_renderer sources
cp input.svg sources/
make -C sources

date; echo 'Packing source bundle'
cp -r sources/out/pcb_shape.dxf sources/out/jig.stl sources/out/kicad ./
zip -r sources.zip sources
zip -r kicad.zip kicad
rm -rf sources"
