[Unit]
Description=Socket for uWSGI app %i

[Socket]
ListenStream=/run/uwsgi/%i.socket
SocketUser=uwsgi-%i
SocketGroup=nginx
SocketMode=0660

[Install]
WantedBy=sockets.target
