[Unit]
Description=%i uWSGI app
After=syslog.target

[Service]
ExecStart=/usr/sbin/uwsgi \
        --ini /etc/uwsgi.d/%i.ini \
        --chmod-socket=660 \
        --socket=/run/uwsgi/%i.socket
User=uwsgi-%i
Group=uwsgi
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all
