
:root {
  --c-blue1:	 #19aeff; 
  --c-blue2:     #0084c8; 
  --c-blue3:     #005c94; 
  --c-red1:      #ff4141; 
  --c-red2:      #dc0000; 
  --c-red3:      #b50000; 
  --c-orange1:   #ffff3e; 
  --c-orange2:   #ff9900; 
  --c-orange3:   #ff6600; 
  --c-brown1:    #ffc022; 
  --c-brown2:    #b88100; 
  --c-brown3:    #804d00; 
  --c-green1:    #ccff42; 
  --c-green2:    #9ade00; 
  --c-green3:    #009100; 
  --c-purple1:   #f1caff; 
  --c-purple2:   #d76cff; 
  --c-purple3:   #ba00ff; 
  --c-metallic1: #bdcdd4; 
  --c-metallic2: #9eabb0; 
  --c-metallic3: #364e59; 
  --c-metallic4: #0e232e; 
  --c-grey1:     #ffffff; 
  --c-grey2:     #cccccc; 
  --c-grey3:     #999999; 
  --c-grey4:     #666666; 
  --c-grey5:     #2d2d2d; 

  --cg1: #003018;
  --cg2: #006130;
  --cg3: #00964a;
  --cg4: #00d167;
  --cg5: #4cffa4;
  --cg6: #b7ffda;
  --cg7: #e1fff0;

  --cr1: #300900;
  --cr2: #611200;
  --cr3: #961c00;
  --cr4: #d12700;
  --cr5: #ff6e4c;
  --cr6: #ffc5b7;
  --cr7: #ffe7e1;

  --cb1: #001b30;
  --cb2: #003761;
  --cb3: #005596;
  --cb4: #0076d1;
  --cb5: #4cb1ff;
  --cb6: #b7e0ff;
  --cb7: #e1f2ff;
  --cb8: #f5fbff;
}

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: var(--cb1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  background-color: var(--cb8);
}

.layout-container {
  flex-basis: 55em;
  flex-shrink: 1;
  flex-grow: 0;
  padding: 45px;
  background-color: white;
}

div.header {
  background-image: url("/static/bg10.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  margin-left: -45px;
  margin-right: -45px;
  margin-bottom: 3em;
  padding-left: 3em;
  padding-right: 3em;
  text-shadow: 1px 1px 1px black;
}

div.flash-success {
  background-color: var(--cg6);
  color: var(--cg1);
  text-shadow: 0 0 2px var(--cg7);
  border-radius: 5px;
  margin: 1em;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 2em;
  padding-bottom: 2em;
}

div.flash-success::before {
  content: "Success!";
  display: block;
  font-weight: bold;
  font-size: 16pt;
  margin-right: 1em;
  margin-bottom: 0.5em;
}

div.desc {
  margin-top: 5em;
  margin-bottom: 7em;

  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  text-align: justify;

  color: white;
}

div.loading-message {
  text-align: center;
  margin-top: 2em;
}

.steps {
  display: flex;
  flex-direction: column;
  counter-reset: step;
}

.step {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 20px;
  position: relative;
  margin-bottom: 1em;
  margin-top: 2em;
}

.step > .description::before {
  counter-increment: step;
  content: counter(step);

  font-weight: 700;
  font-size: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--cg5);

  display: block;
  position: absolute;
  top: 15px;
  left: 0;
  width: 60px;

  line-height: 50px;
  padding-top: 10px;
}

.step > .description {
  flex-basis: 20em;
  flex-shrink: 0;
  flex-grow: 0;
  margin-left: 20px;

  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  text-align: justify;
}

.step > .description > h2 {
  text-align: right;
  margin-top: 0;
  padding-left: 60px;
  height: 60px;
}

.step > .controls {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-right: 1em;
  margin-left: 1em;

  padding: 1em;

  background-color: var(--cb8);
  border-radius: 5px;
}

input.reset-button {
  background-color: var(--cr4);
  color: white;
  text-shadow: 0 0 2px var(--cr1);
  border: 0;
  border-radius: 5px;
  padding: 0.5em 1em 0.5em 1em;
}

input.submit-button {
  background-color: var(--cg4);
  color: var(--cg1);
  text-shadow: 0 0 2px var(--cg7);
  font-weight: bold;
  margin-left: 1em;
  border: 0;
  border-radius: 5px;
  padding: 0.5em 1em 0.5em 1em;
}

.controls > .form-controls {
  margin-bottom: 1em;
}

.controls > .submit-buttons {
  margin-top: 1em;
  text-align: right;
}

.controls > .download-controls {
  padding: 1em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a.output-download:link, a.output-download:hover, a.output-download:visited, a.output-download:active {
  font-size: 30pt;
  font-weight: bold;
  color: var(--cb1);
  text-shadow: 0.5px 0.5px 0.5px var(--cb6);
}

.preview-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

a.preview:link, a.preview:hover, a.preview:visited, a.preview:active {
  text-decoration: none;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cb3);
  background-blend-mode: multiply;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  box-shadow: 1px 1px 5px 1px #001b304d;
}

.overlay {
  text-align: center;
  font-size: 50pt;
  font-weight: bold;
  color: var(--cg4);
  mix-blend-mode: screen;
}

.sample-images {
  text-align: center;
}

.sample-images > h1 {
  color: white;
  padding-top: 5px;
  line-height: 70px;
  /* background-image: linear-gradient(to top right, var(--cg5), var(--cg6)); */

  background-image: url("/static/bg10.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  margin-left: -45px;
  margin-right: -45px;
  margin-top: 3em;
  text-shadow: 1px 1px 1px black;
}

.sample-images > img {
  width: 300px;
  height: 300px;
  margin: 1em;
}

/* Spinner from https://loading.io/css/ */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid var(--cb1);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--cb1) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

